---
title: false
styles: true
---
// Text colours
$linkColour: #0f4f3b !default;
@import "alembic";

// Overriding default CSS to allow nesting of OL and UL
.typeset ol li {
    counter-increment: alt-level;
}

.typeset ol>li {
    counter-increment: top-level;
}
