---
layout: page
---
<div class="team-member">
  {% if page.image %}
    <img src="{{ page.image | relative_url }}" alt="{{ page.name }}" class="team-member-image">
  {% endif %}
  
  <h2>{{ page.name }}</h2>
  <h2>{{ page.position }}</h2>
  {% if page.linkedin %}
    <a href="{{ page.linkedin }}" target="_blank">{% include icon.html id="linkedin" title="LinkedIn" %}</a>
  {% endif %}
  {% if page.github %}
    <a href="{{ page.github }}" target="_blank">{% include icon.html id="github" title="GitHub" %}</a>
  {% endif %}  
  <div class="team-member-bio">
    {{ content }}
  </div>
</div>